@model ResetPasswardUserViewModel

<form asp-controller="Users"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="OnModelBegin"
      data-ajax-success="OnModelSuccess"
      data-ajax-failure="ShowMessageError"
      data-ajax-complete="OnModelComplete">

    <input type="hidden" asp-for="Id" />
    <!--begin::Input group-->
    <div class="form-floating mb-7">
        <input type="text" class="form-control form-control-solid" asp-for="Password" placeholder="Name" autocomplete="off" />
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="form-floating mb-7">
        <input type="text" class="form-control form-control-solid" asp-for="ConfirmPassword" placeholder="Confirm Password" autocomplete="off" />
        <label asp-for="ConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <!--end::Input group-->

    <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary">
            <i class="bi bi-pencil-fill"></i>
            Reset
        </button>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}

